<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="ddd.leave.domain.leave.repository.mapper.LeaveMapper">
    <!--select查询语句-->
    <select id="queryByApplicantId" resultType="ddd.leave.domain.leave.repository.po.LeavePO">
        select * from t_leave where applicant_id=#{applicantId};
    </select>
    <select id="queryByApproverId" resultType="ddd.leave.domain.leave.repository.po.LeavePO">
        select * from t_leave where approver_id=#{approverId};
    </select>
</mapper>